*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}



header{

    height: 120px;
    background-color:#3091f8 ;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 10px;
    margin-top: 8px;

}
header div img{
    width: 100px;
    height: 100px;
    padding-top: 10px;
}
header div h3{
    margin: 25px;
    font-size: 45px;

}

header div  a{
    text-decoration: none;
    color: aliceblue;
}

nav{
margin: 40px;  

}



nav a{
    padding: 15px;
    margin-left: 20px;
    font-size: 25px;
    border-radius: 5%;
    text-decoration: none;
    font-size: 20px;
    color: white;

    

}

nav a:hover{
    background-color: #3091f8;
    color: black;
    text-decoration: underline;
}


main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #3091f8;

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: #3091f8;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #3091f8;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #3091f8;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

.contenedor__login-register form button:hover{
    background: white;
    color: #3091f8;
    border: solid 2px #3091f8;
}




.formulario__login{
    opacity: 1;
    display: block;
}
.formulario__register{
    display: none;
}


footer {
    background-color: #3091f8; /* Fondo de color gris oscuro */
    color: #fff; /* Texto en color blanco */
    padding: 20px 0; /* Espaciado interno superior e inferior */
    text-align: center; /* Alineación del texto al centro */
    margin-top: 265px;
}

footer {
    background-color: #3091f8; /* Fondo de color gris oscuro */
    color: #fff; /* Texto en color blanco */
    padding: 20px 0; /* Espaciado interno superior e inferior */
    text-align: center; /* Alineación del texto al centro */
    margin-top: 25px;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

p {
    font-weight: bold;
}

label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="button"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para los resultados */
#resultados {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}
 /*Estilo Test*/

 #formulario-container {
    max-width: 500px; /* Ancho del formulario */
    margin: 0 auto;
    background-color: #5760ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-stretch: ultra-expanded;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    margin-top: 15px;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-right: 8px;
    color: #333;
}

input[type="radio"] {
    margin-right: 5px;
}

#mostrarGraficas {
    display: block;
    margin: 20px auto;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#mostrarGraficas:hover {
    background-color: #555;
}

/* Estilos para mensajes de error */
#error-message {
    color: red;
    font-weight: bold;
}


  
  #resultados {
    display: none;
  }
  /* Estilo para el contenedor de gráficas */
#graficas-container {
    text-align: center;
}

/* Estilo para el elemento canvas */
#grafica {
    max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
    max-height: 500px;
    margin: 0 auto; /* Centra horizontalmente */
}

/* Estilo para los resultados de texto */
#resultados-texto {
    text-align: center;
}


.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
.contenedor_evaluacion{
    display: flex;
    flex-direction: row; /* Para que estén uno al lado del otro */
    margin: 10px;
    
}

h3 {
    text-align: center;
    margin: 50px;
    opacity: 3;
    
}

/* Estilos para los enlaces dentro del contenedor */
.contenedor_evaluacion a {
    text-align: center;
    text-decoration: none;
    width: 30%;
    margin-right: 10px; /* Espacio entre enlaces */
    padding: 8px 12px; /* Espacio interno (ajústalo según tus necesidades) */
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Estilos para los enlaces cuando el mouse se acerca */
.contenedor_evaluacion a:hover {
    background-color: #2196F3;
    color: #fff;
    border: 1px solid #2196F3;
 
}

